<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"] - QMS</title>

    <link href="~/novi/dist/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css" />

    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css" />

    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/novi/dist/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="~/novi/dist/assets/demo/chart-area-demo.js"></script>
    <script src="~/novi/dist/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="~/novi/dist/js/datatables-simple-demo.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://kit.fontawesome.com/2ac902d317.js" crossorigin="anonymous"></script>


    <script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="index.html"><img src="~/image/utas-logo-white.png" style="margin-left : -50px" /></a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        </div>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" asp-action="login">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Document Request</div>
                        <a class="nav-link" asp-controller="Home" asp-action="request">
                            @*//check viewnya pasti sama namanya dengan di controllernya*@
                            <div class="sb-nav-link-icon"><i class="fas fa-plus"></i></div>
                            Request
                        </a>
                        <a class="nav-link" asp-controller="Home" asp-action="List">
                            <div class="sb-nav-link-icon"><i class="fas fa-th-list"></i></div>
                            List Document Request
                        </a>



                        @{ if (ViewBag.adm == "admin")
                            {
                                <a class="nav-link" asp-controller="Home" asp-action="Listusername">
                                    <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                                    List User
                                </a>
                                <a class="nav-link" asp-controller="Home" asp-action="Edituser">
                                    <div class="sb-nav-link-icon"><i class="fas  fa-users"></i></div>
                                    Edit User
                                </a>

                                <a class="nav-link" asp-controller="Home" asp-action="Deletelist">
                                    <div class="sb-nav-link-icon"><i class="fas fa-th-list"></i></div>
                                    Delete List
                                </a>

                            }
                        }



                        <div class="sb-sidenav-menu-heading">Report</div>
                        <a class="nav-link" asp-controller="Home" asp-action="Chart">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Chart
                        </a>
                        <a class="nav-link" href="tables.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Tables
                        </a>

                        @*CCR REQUEST SECTION*@
                        <div class="sb-sidenav-menu-heading">CCR Request</div> @*#nyobain aja*@

                        <a class="nav-link" asp-controller="Home" asp-action="CCRNew">
                            @*//check viewnya pasti sama namanya dengan di controllernya*@
                            <div class="sb-nav-link-icon"><i class="fas fa-plus"></i></div>
                            Request
                        </a>

                    </div>
                </div>
            </nav>
        </div>
        
        <div id="layoutSidenav_content">
            <main style=" padding : 30px">
                @RenderBody()
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">
                            2022 - Document Request Applications -
                            <a href="mailto:novi.susanti@collins.com">Novi.Susanti@collins.com</a>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
    </div>
    
    @RenderSection("Scripts", required: false)
</body>
</html>

