@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
} Your Request Have been submited succesfully! <br />
<a asp-action="request"> Create New Request</a> <br />
<a asp-action="List"> View Request list </a>
